.LoginPopUp {
    z-index: 1;
    visibility: visible;
}
.LoginOpenpopUp {
    position: absolute;
    height: 50vh;
    position: fixed;
    z-index: 2;
    visibility: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35rem;
    padding: 2.5rem;
    background: linear-gradient(
        90deg,
        rgba(186, 66, 255) 35%,
        rgba(0, 225, 255)
    );
    /* linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255)); */
    border-radius: 0.625rem;
    box-shadow: 0 4px 15px 1px rgba(12, 12, 12, 0.8),
        0 6px 20px 0 rgba(20, 20, 90, 0.9);
}

.LoginPopUp h2 {
    margin: 0 0 1.875rem;
    padding: 0;
    color: #fff;
    text-align: center;
}

.LoginPopUp .inputBox {
    position: relative;
}

.LoginPopUp .inputBox input {
    width: 100%;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: none;
    border-bottom: 0.065rem solid #fff;
    outline: none;
    background: transparent;
}

.LoginPopUp .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: 0.2s;
}

.LoginPopUp .inputBox input:focus ~ label,
.LoginPopUp .inputBox input:valid ~ label,
.LoginPopUp .inputBox input:not([value=""]) ~ label {
    top: -1.125rem;
    left: 0;
    color: #1cb1f5;
    font-size: 0.75rem;
}

.LoginPopUp input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    background-color: #03a9f4;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
}

.LoginPopUp input[type="submit"]:hover {
    background-color: #1cb1f5;
}
