.home-img1,
.home-img2,
.home-img3,
.home-img4 {
    height: 90vh;
}
.custom-carousel {
    margin: 4% auto;
    width: 90%;
    height: 85vh;
}
/* .mainSlide-cont {
    color: white;
    width: 100%;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.385);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px; 
    backdrop-filter: blur(2px); 
}

.slide-title > h5 {
    padding-right: 40%;
    font-size: 50px;
    font-weight: 600;
}
.slide-text > p {
    padding-right: 0%;
    font-size: 30px;
} */
