* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 9%;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #2b124c;
    position: relative;
}

.right_circle {
    position: absolute;
    top: 500px;
    width: 30%;
    height: 60vh;
    border-radius: 50;
    background-color: #86f0ff;
    filter: blur(180px);
    z-index: -1;
}
.left_circle {
    position: absolute;
    top: 80px;
    right: 0px;
    width: 25%;
    height: 45vh;
    border-radius: 50%;
    background-color: rgba(168, 54, 195, 1);
    filter: blur(130px);
}

.navbar {
    width: 100%;
    height: 9vh;
    position: fixed;
    background-color: #fbe4d8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 0;
    z-index: 3;
}
.nav-img > img {
    width: 100%;
    height: 7vh;
    margin-left: 65%;
    margin-bottom: 20%;
}
.link {
    display: flex;
    list-style: none;
    margin-left: -100%;
    gap: 10%;
    align-items: center;
}
ul a {
    text-decoration: none;
    color: rgb(3, 3, 2);
}

.home {
    height: 160vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-img {
    position: relative;
    bottom: 7%;
}
.home-logo {
    width: 100%;
}
.books {
    height: 90vh;
    width: 100%;
    /* border: 1px solid white; */
}
.books-outerline {
    width: 90%;
    height: 90vh;
    margin: 1% auto;
    border-radius: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.booksleft-Container {
    width: 50%;
    /* background-color: azure; */
}
.booksright-Container {
    width: 50%;
    background-color: yellowgreen;
}

.about {
    height: 100vh;
    width: 100%;
}
.contact {
    height: 100vh;
    width: 100%;
}
@media (max-height: 750px) {
    .link {
        background-color: #86f0ff;
    }
    ul a,
    .nav-img > img,
    .login-popup {
        background-color: aquamarine;
        height: 6vh;
    }
}
