.About-mian {
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.about-top {
    height: 36vh;
    width: 100%;
    background-image: url("../../../public/books.avif");
}
.about-name {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.684);
    width: 100%;
    height: 36vh;
    padding-top: 3%; /* margin-top: 3%; */
    color: rgb(171, 171, 171);
    font-weight: 700;
    font-size: 45px;
}
.About-img {
    position: absolute;
    top: 13%;
    left: 39.5%;
    width: 20%;
    height: 33vh;
    z-index: 1;
}
.slider-thumb::before {
    position: absolute;
    top: 11%;
    left: 38%;
    height: 39vh;
    width: 22%;
    background: linear-gradient(90deg, rgba(168, 54, 195, 1), #86f0ff);
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    -webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape {
    0%,
    100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0, 5%, 0) rotateZ(0.01deg);
    }
    50% {
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0, -1px, 0) rotateZ(0.01deg);
    }
}

.about-log-container {
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-topText {
    margin-top: 15%;
    height: 30vh;
    width: 80%;
}
.about-topText > h4 {
    color: white;
    font-size: 1.2rem;
}
.about2nd-cont {
    width: 90%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.abouttext2 {
    width: 40%;
    color: white;
}
.about2img-cont {
    width: 50%;
    padding: 30px;
}
.aboutimg2 {
    border-radius: 15px;
    margin: 10%;
    width: 80%;
    height: 70vh;
}

.about-ourteam {
    width: 100%;
    height: 95vh;
    background-color: black;
}
.about-ourteamTop {
    margin: 2% auto;
    width: 90%;
    height: 35vh;
    border: 1px solid white;
    text-align: center;
}
.about-ourteamTop > h1 {
    color: rgb(226, 226, 226);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 300;
    margin-top: 2%;
}
.About-members {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.m1,
.m2,
.m3 {
    margin-top: -12%;
    width: 18%;
    height: 33vh;
}
.about-ourteam-text {
    color: rgb(255, 255, 255);
    width: 80%;
    height: 9vh;
    margin: 3% auto;
    text-align: center;
}
.about-btm-text {
    color: white;
    width: 90%;
    text-align: center;
    height: 3vh;
    margin: 1% auto;
}
@media (max-height: 550px) {
    .about-ourteam-text {
        font-size: 10px;
    }
    .about-btm-text {
        font-size: 10px;
    }
}
