.booksScroll {
    /* border: 1px solid; */
    width: 55%;
    height: 30vh;
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory;
    margin: 0% auto;
    white-space: nowrap;
}

.card {
    /* background-color: rgb(226, 183, 255); */
    flex: 0 0 auto; /* Prevent flex items from growing */
    scroll-snap-align: start;
    width: 33% !important; /* Set the width of each card to 15% */
    height: 36vh !important; /* Set the height of each card to 20vh */
    margin: 1%;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}
.booksScroll:hover > :not(:hover) {
    filter: blur(2px);
    opacity: 0.2;
}

/* Style the scrollbar */
.booksScroll::-webkit-scrollbar {
    height: 1.5vh; /* Width of the scrollbar */
}

.booksScroll::-webkit-scrollbar-thumb {
    background-color: rgb(222, 57, 255); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Radius of the scrollbar thumb */
}

.booksScroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #eee; /* Color of the scrollbar track */
}
