.slider-thumb::before {
    position: absolute;
    content: "";
    left: 11%;
    top: 100%;
    width: 25%;
    height: 43vh;
    background: linear-gradient(90deg, rgba(168, 54, 195, 1), #86f0ff);
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    -webkit-animation: sliderShape 5s linear infinite;
    z-index: 1;
}
@keyframes sliderShape {
    0%,
    100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
}

.logo {
    width: 50%;
}
.home-btn-container {
    /* background-image: linear-gradient(rgb(0, 173, 66), black); */
    background-color:  #150628;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.home-btm-RtgText {
    color: white;
    font-size: 60px;
    border: 5px solid rgba(131, 255, 179, 0.626);
    box-shadow: rgba(0, 0, 0, 0.411) 0px 10px 20px,
        rgba(0, 0, 0, 0.582) 0px 6px 6px,
        inset rgba(0, 0, 0, 0.19) 0px 10px 20px,
        inset rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 15px;
    width: 80%;
    height: 30vh;
    text-align: center;
}
.home-btm-RtgText:hover {
    border: 5px solid rgb(131, 255, 179);
    transition: all ease-in-out 0.3s;
}
.fstTxT {
    margin-left: -30%;
    font-family: "Brush Script MT", cursive;
}
.secTxT {
    margin-left: 25%;
    margin-top: -5%;
    font-family: "Brush Script MT", cursive;
}
.Reader {
    color: rgb(255, 255, 255);
    font-family: Garamond, serif;
    font-size: 90px;
}
.leader {
    font-family: Garamond, serif;
    color: rgb(255, 255, 255);
    font-size: 90px;
}
@media (max-width: 1300px) {
    .fstTxT {
        font-size: 50px;
        margin-left: -20%;
        font-family: "Brush Script MT", cursive;
    }
    .secTxT {
        margin-top: -8%;
        font-family: "Brush Script MT", cursive;
    }
    .Reader {
        font-size: 70px;
    }
    .leader {
        font-size: 70px;
    }
    .btm-img {
        width: 30%;
        margin-left: 30%;
    }
    .slider-thumb::before {
        left: 14%;
        top: 23%;
        width: 24%;
        height: 38vh;
    }
}
.homeTopBar {
    border-bottom: 50px solid #555;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 125px;
}
