.login {
    width: 90%;
    height: 78vh;
    padding: 10%;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    font-size: 1.3em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.login input[type="email"],
.login input[type="text"],
.login textarea {
    display: block;
    border: none;
    outline: none;
    width: 100%;
    padding: 3% 5%;
    margin: 4% 0 0 0;
    font-size: 0.8em;
    border-radius: 100px;
    background: rgba(36, 35, 35, 0.83);
    color: white;
}

.login input[type="submit"],
.login input[type="button"],
.login textarea,
.h1 {
    border: 0;
    outline: 0;
    width: 100%;
    margin: 6% 0 0 0;
    border-radius: 500px;
    font-weight: 600;
}

.h1 {
    position: relative;
    top: -5%;
    display: block;
    font-size: 1.8em;
}

.btn {
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    color: #fff;
    padding: 3%;
}

.btn:hover {
    background: linear-gradient(144deg, #1e1e1e, 20%, #1e1e1e 50%, #1e1e1e);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
