.checkbox {
    display: none;
}

.sliderBtn {
    width: 60px;
    height: 30px;
    background-color: #5bff9a;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 4px solid transparent;
    transition: 0.3s;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
    cursor: pointer;
}

.sliderBtn::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transform: translateX(-30px);
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked ~ .sliderBtn::before {
    transform: translateX(30px);
    box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked ~ .sliderBtn {
    background-color: #2196f3;
}

.checkbox:active ~ .sliderBtn::before {
    transform: translate(0);
}
.main-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.manual {
    color: #5bff9a;
}
.auto {
    color: #2196f3;
}
.auto,
.manual {
    font-size: 16px;
    font-family: serif;
}
