* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-color: #150628;
    margin-top: 3.9%;
    width: 100%;
}

.Navbar {
    position: fixed;
    top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    backdrop-filter: blur(10px);
    /* background-color: transparent; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 20px;
    z-index: 1000;
    /* background-color: rgba(58, 153, 255, 0.244); */
}
.nav-img {
    height: 50px;
    width: 80px;
}
.links {
    display: flex;
    list-style: none;
    margin-top: 3%;
}
ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 5px auto;
}
ul a:hover {
    color: rgb(148, 148, 148);
}

li {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    /* font-weight: 600; */
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

li:focus,
li:hover {
    color: #fff;
}

li:focus:after,
li:hover:after {
    width: 100%;
    left: 0%;
}

li:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 4.5px;
    border-radius: 5px;
    background-color: white;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
