/* VoiceRecorder.css */
.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .button-container button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  /* VoiceRecorder.css */
.file-input {
    margin-top: 20px;
  }
  
  .file-input-label {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
  }
  
  .file-input-label:hover {
    background-color: #0056b3;
  }
  
  .file-input-field {
    display: none;
  }
/* VoiceRecorder.css */
.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
  }
  
  .file-input-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    