.btmLogoImg > img {
    position: relative;
    left: 80%;
    width: 100%;
    height: 34vh;
}
.homeMianBtm {
    position: relative;
    align-items: center;
    justify-content: space-around;
    display: flex;
    height: 45vh;
    background-color: black;
    padding-bottom: 3%;
    padding-right: 10%;
}
.btmRtgtext {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btmRtgtext-btn {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.about ,.blog,.contact{
    text-decoration: none;
    list-style: none;
    color: rgb(182, 182, 182);
}
.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-right: 25%;
    padding: 2%;
    gap: 5%;
    border: 2px solid;
    width: 55%;
    border-radius: 20px;
    height: 10vh;
}
.social-media:hover {
    border: 3px solid rgb(0, 173, 66);
    .social-media-text {
        color: rgb(11, 247, 255);
    }
}
/* for all social containers*/
.socialContainer {
    width: 15%;
    height: 5vh;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
    border-radius: 10px;
}
/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
    background-color: #768f99;
    transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}
.social-media-text {
    padding-top: 2%;
    color: white;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
