.page2-content {
    border: 1px solid;
    width: 80%;
    height: 57vh;
  margin: 0 auto;
  padding: 5%;
}

.story2-pg1{
    position: relative;
    /* top: 25%; */
    padding: 10%;
}
.story2-pg4{
    position: relative;
    top:10%;
    padding: 10%;
}

.view-in-new-tab-button {
    position: absolute;
    top: 10px; /* Adjust as needed to position the button */
    right: 10px; /* Adjust as needed to position the button */
    background-color: #007bff;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .view-in-new-tab-button i {
    margin-right: 5px; /* Spacing between icon and text */
  }
  