* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flip-book-container {
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    margin-top: -4%;
    /* padding: 10%; */
}
.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 230, 206, 1);
}
.img1-story {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
    padding: 50px;
}

.pg1-image > img {
    height: 40vh;
    width: 100%;
    filter: drop-shadow(5px 5px 20px #555);
}
.page1 {
    padding: 30px;
    width: 45%;
}
.page2-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
}

.page2-image > img {
    height: 35vh;
    filter: drop-shadow(5px 5px 20px #555);
}
.page2-btm-content {
    width: 90%;
}
.page3-content {
    height: 40vh;
    display: flex;
}
.page3-lft-content {
    width: 70%;
    align-items: center;
    padding-left: 50px;
    padding-top: 55px;
}
.page3-rtg-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page3-image > img {
    margin-right: 60px;
    height: 28vh;
    width: 100%;
    filter: drop-shadow(5px 5px 20px #555);
}
.page3-rtg-story {
    width: 90%;
}
.page4-content {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.page4-rtg-content {
    width: 55%;
}
.page4-image > img {
    margin-bottom: 30px;
    margin-left: 30px;
    height: 40vh;
    width: 100%;
    filter: drop-shadow(5px 3px 10px #555);
}
.page5-content {
    padding-left: 25px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page5-top-content {
    width: 90%;
}
.page5-btm-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33vh;
}
.page5-btm-lft-content {
    margin-left: 10px;
    width: 50%;
}
.page5-btm-rtg-img > img {
    width: 280px;
    height: 33vh;
}
.page6-content {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.page6-lft-content {
    width: 50%;
    padding: 40px;
}
.page6-rgt-img > img {
    width: 100%;
    height: 40vh;
}
.page7-content {
    height: 40vh;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.page7-lft-img > img {
    width: 100%;
    height: 38vh;
    /* margin-top: -40px; */
}
.page7-rgt-content {
    width: 35%;
}
.page8-content {
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.moral {
    padding-top: 20px;
    width: 100%;
    font-size: 30px;
    font-family: "Brush Script MT", cursive;
    color: red;
}
.page8-img > img {
    padding-bottom: 30px;
    height: 35vh;
}
.page-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 70vh;
    justify-content: space-around;
}

.page-navigation button {
    margin: 0 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 80%;
    height: 60px;
    border-radius: 30px;
}

.page-navigation button:hover {
    background-color: #0056b3;
}
.Right-container {
    width: 20%;
    height: 75vh;
}

.Play-pause-btn {
    position: relative;
    top: -10%;
    left: -30%;
}

.Play-pause-btn > button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.voice-sec-btns {
    width: 80%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.voice-sec-btns > button {
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
}
.voice-selection {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#voiceSelect {
    width: 95%;
    height: 30px;
    margin-left: 8px;
}
.voicedrop-down {
    height: 10vh;
}
.App {
    font-family: sans-serif;
    text-align: center;
}

.slidecontainer {
    margin: 20px auto;
    width: 80%;
}

.slider {
    /* -webkit-appearance: none; */
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04aa6d;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04aa6d;
    cursor: pointer;
}
.range-value {
    margin: 10px auto;
}
.male,
.female {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 50px;
    height: 10px;
    font-family: Arial white;
    font-size: 40px;
}
h2 {
    font-family: "Brush Script MT", cursive;
    font-size: 50px;
    color: rgb(39, 39, 74);
}
p {
    /* font-size: clamp(0.9rem,1.0783vw + 0.2043rem,2rem);
    line-height: 1.25em; */
    font-family: cursive;
}
.page-number {
    margin-top: 10px;
    font-size: 14px;
}
.start-stop-btn {
    position: absolute;

    padding: 0.5% 2%;
    top: 89%;
    left: 45%;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.start-stop-btn:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.start-stop-btn:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.start-stop-btn::before {
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;

    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.start-stop-btn:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

@media (max-width: 1440px) {
    body {
        height: 100vh;
        width: 100%;
    }

    p {
        font-size: 17px;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 28px;
    }

    .img1-story {
        height: 39vh;
    }
    .pg1-image > img {
        height: 38vh;
        width: 100%;
        filter: drop-shadow(5px 5px 20px #555);
    }
    .page1 {
        padding: 30px;
        width: 45%;
    }
    .page2-content {
        height: 39vh;
    }

    .page2-image > img {
        height: 33vh;
    }

    .page3-content {
        height: 39vh;
        width: 90%;
        padding-left: 70px;
        gap: 20px;
    }
    .page3-lft-content {
        width: 80%;
        padding-top: 40px;
    }
    .page3-image > img {
        padding-right: 60px;
        height: 25vh;
        width: 100%;
    }
    .page3-rtg-story {
        width: 80%;
    }
    .page4-content {
        gap: 30px;
        width: 80%;
        height: 39vh;
        margin: 0px auto;
    }
    .page4-rtg-content {
        width: 70%;
        padding-top: 20px;
        margin-left: 40px;
    }
    .page4-image > img {
        padding-left: 50px;
        height: 39vh;
    }
    .page5-content {
        height: 39vh;
        margin: 0px auto;
    }
    .page5-top-content {
        width: 80%;
    }
    .page5-btm-content {
        height: 33vh;
        width: 100%;
    }
    .page5-btm-lft-content {
        padding-left: 28px;
    }
    .page5-btm-rtg-img > img {
        width: 100%;
        height: 33vh;
    }
    .page6-content {
        height: 39vh;
    }
    .page6-lft-content {
        width: 50%;
        padding-left: 50px;
    }
    .page6-rgt-img > img {
        width: 100%;
        height: 38vh;
    }
    .page7-content {
        height: 39vh;
    }
    .page7-lft-img > img {
        height: 38vh;
    }
    .page7-rgt-content {
        width: 35%;
    }
    .page8-content {
        height: 39vh;
    }
    .moral {
        width: 100%;
        font-size: 28px;
    }
    .page8-img > img {
        height: 32vh;
    }
}
@media (max-width: 1280px) {
    body {
        height: 100vh;
        width: 100%;
    }

    p {
        font-size: 16px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 26px;
    }

    .img1-story {
        height: 39vh;
        width: 100%;
        margin-left: 30px;
        /* margin: 0px auto; */
        /* gap: 30px; */
    }
    .pg1-image > img {
        height: 31vh;
        width: 100%;
    }
    .page1 {
        width: 70%;
    }
    .page2-content {
        height: 39vh;
    }

    .page2-image > img {
        height: 30vh;
    }

    .page3-content {
        width: 100%;
        height: 39vh;
        justify-content: space-around;
        margin-left: -45px;
    }
    .page3-lft-content {
        width: 80%;
    }
    .page3-image > img {
        padding-left: 20px;
        height: 22vh;
    }
    .page3-rtg-story {
        margin-left: -10px;
        width: 90%;
    }
    .page4-content {
        width: 100%;
        height: 39vh;
    }
    .page4-rtg-content {
        width: 100%;
        padding-right: 40px;
    }
    .page4-image > img {
        height: 40vh;
    }
    .page5-content {
        height: 39vh;
        padding-top: 10px;
    }
    .page5-top-content {
        width: 80%;
    }
    .page5-btm-content {
        height: 40vh;
        width: 90%;
    }
    .page5-btm-lft-content {
        padding-left: 1px;
    }
    .page5-btm-rtg-img > img {
        width: 100%;
        height: 28vh;
    }
    .page6-content {
        height: 39vh;
    }
    .page6-lft-content {
        width: 50%;
        padding-left: 50px;
    }
    .page6-rgt-img > img {
        width: 100%;
        height: 36vh;
    }
    .page7-content {
        height: 39vh;
    }
    .page7-lft-img > img {
        height: 34vh;
    }

    .moral {
        width: 100%;
        font-size: 22px;
    }
    .page8-img > img {
        height: 30vh;
    }
}
@media (max-width: 1080px) {
    body {
        height: 100vh;
        width: 100%;
    }

    p {
        font-size: 10px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 26px;
    }
    .img1-story {
        height: 39vh;
        width: 100%;

        gap: 30px;
    }
    .pg1-image > img {
        height: 31vh;
        width: 100%;
    }
    .page1 {
        width: 70%;
    }
    .page2-content {
        height: 39vh;
    }

    .page2-image > img {
        height: 30vh;
    }

    .page3-content {
        width: 100%;
        height: 39vh;
        justify-content: space-around;
    }
    .page3-lft-content {
        width: 80%;
        margin-left: -30px;
    }
    .page3-image > img {
        padding-left: 20px;
        height: 22vh;
    }
    .page3-rtg-story {
        margin-left: -10px;
        width: 90%;
    }
    .page4-content {
        height: 39vh;
    }
    .page4-rtg-content {
        width: 70%;
        padding: 30px;
        height: 30vh;
    }
    .page4-image > img {
        height: 33vh;
    }
    .page5-content {
        height: 39vh;
        padding-top: 10px;
    }
    .page5-top-content {
        width: 80%;
    }
    .page5-btm-content {
        height: 30vh;
        width: 90%;
    }
    .page5-btm-lft-content {
        padding-left: 10px;
        padding-top: 1px;
    }
    .page5-btm-rtg-img > img {
        width: 100%;
        height: 28vh;
    }
    .page6-content {
        height: 39vh;
    }
    .page6-lft-content {
        width: 50%;
        padding-left: 50px;
    }
    .page6-rgt-img > img {
        width: 100%;
        height: 36vh;
    }
    .page7-content {
        height: 39vh;
    }
    .page7-lft-img > img {
        height: 34vh;
    }

    .moral {
        width: 100%;
        font-size: 22px;
    }
    .page8-img > img {
        height: 30vh;
    }
}
.videoContainer {
    /* width: 30%; */
    /* border: 1px solid white; */
    height: 30vh;
}
